@charset "UTF-8";
@media (768px >= width) {
  .sp {
    display: block !important;
  }
  .tb {
    display: none !important;
  }
  .pc {
    display: none !important;
  }
  .tb-pc {
    display: none !important;
  }
}
@media (width >= 768px) {
  .sp {
    display: none !important;
  }
  .tb {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
  .tb-pc {
    display: block !important;
  }
}
@media (width >= 1400px) {
  .sp {
    display: none !important;
  }
  .tb {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
  .tb-pc {
    display: block !important;
  }
}
h1.b-text, h2.b-text, h3.b-text, h4.b-text, h5.b-text, h6.b-text, p.b-text, a.b-text, span.b-text, label.b-text {
  display: inline;
  text-decoration: underline;
}
h1.-right, h2.-right, h3.-right, h4.-right, h5.-right, h6.-right, p.-right, a.-right, span.-right, label.-right {
  text-align: right;
}
h1.-left, h2.-left, h3.-left, h4.-left, h5.-left, h6.-left, p.-left, a.-left, span.-left, label.-left {
  text-align: left;
}
h1.-center, h2.-center, h3.-center, h4.-center, h5.-center, h6.-center, p.-center, a.-center, span.-center, label.-center {
  text-align: center;
}
h1.-lh-n, h2.-lh-n, h3.-lh-n, h4.-lh-n, h5.-lh-n, h6.-lh-n, p.-lh-n, a.-lh-n, span.-lh-n, label.-lh-n {
  line-height: normal;
}
h1.-lh-1, h2.-lh-1, h3.-lh-1, h4.-lh-1, h5.-lh-1, h6.-lh-1, p.-lh-1, a.-lh-1, span.-lh-1, label.-lh-1 {
  line-height: 1;
}
h1.-lh-1_5, h2.-lh-1_5, h3.-lh-1_5, h4.-lh-1_5, h5.-lh-1_5, h6.-lh-1_5, p.-lh-1_5, a.-lh-1_5, span.-lh-1_5, label.-lh-1_5 {
  line-height: 1.5;
}
h1.-lh-1_8, h2.-lh-1_8, h3.-lh-1_8, h4.-lh-1_8, h5.-lh-1_8, h6.-lh-1_8, p.-lh-1_8, a.-lh-1_8, span.-lh-1_8, label.-lh-1_8 {
  line-height: 1.8;
}
h1.-lh-2, h2.-lh-2, h3.-lh-2, h4.-lh-2, h5.-lh-2, h6.-lh-2, p.-lh-2, a.-lh-2, span.-lh-2, label.-lh-2 {
  line-height: 2;
}
h1.-lh-3, h2.-lh-3, h3.-lh-3, h4.-lh-3, h5.-lh-3, h6.-lh-3, p.-lh-3, a.-lh-3, span.-lh-3, label.-lh-3 {
  line-height: 3;
}
@media (768px >= width) {
  h1.-lh-n_s, h2.-lh-n_s, h3.-lh-n_s, h4.-lh-n_s, h5.-lh-n_s, h6.-lh-n_s, p.-lh-n_s, a.-lh-n_s, span.-lh-n_s, label.-lh-n_s {
    line-height: normal;
  }
}
@media (768px >= width) {
  h1.-lh-1_s, h2.-lh-1_s, h3.-lh-1_s, h4.-lh-1_s, h5.-lh-1_s, h6.-lh-1_s, p.-lh-1_s, a.-lh-1_s, span.-lh-1_s, label.-lh-1_s {
    line-height: 1;
  }
}
@media (768px >= width) {
  h1.-lh-1_3_s, h2.-lh-1_3_s, h3.-lh-1_3_s, h4.-lh-1_3_s, h5.-lh-1_3_s, h6.-lh-1_3_s, p.-lh-1_3_s, a.-lh-1_3_s, span.-lh-1_3_s, label.-lh-1_3_s {
    line-height: 1.3;
  }
}
@media (768px >= width) {
  h1.-lh-1_5_s, h2.-lh-1_5_s, h3.-lh-1_5_s, h4.-lh-1_5_s, h5.-lh-1_5_s, h6.-lh-1_5_s, p.-lh-1_5_s, a.-lh-1_5_s, span.-lh-1_5_s, label.-lh-1_5_s {
    line-height: 1.5;
  }
}
@media (768px >= width) {
  h1.-lh-1_8_s, h2.-lh-1_8_s, h3.-lh-1_8_s, h4.-lh-1_8_s, h5.-lh-1_8_s, h6.-lh-1_8_s, p.-lh-1_8_s, a.-lh-1_8_s, span.-lh-1_8_s, label.-lh-1_8_s {
    line-height: 1.8;
  }
}
@media (768px >= width) {
  h1.-lh-2_s, h2.-lh-2_s, h3.-lh-2_s, h4.-lh-2_s, h5.-lh-2_s, h6.-lh-2_s, p.-lh-2_s, a.-lh-2_s, span.-lh-2_s, label.-lh-2_s {
    line-height: 2;
  }
}
@media (768px >= width) {
  h1.-lh-3_s, h2.-lh-3_s, h3.-lh-3_s, h4.-lh-3_s, h5.-lh-3_s, h6.-lh-3_s, p.-lh-3_s, a.-lh-3_s, span.-lh-3_s, label.-lh-3_s {
    line-height: 3;
  }
}
h1.-shadow, h2.-shadow, h3.-shadow, h4.-shadow, h5.-shadow, h6.-shadow, p.-shadow, a.-shadow, span.-shadow, label.-shadow {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.637)) !important;
}
h1.-ws-n, h2.-ws-n, h3.-ws-n, h4.-ws-n, h5.-ws-n, h6.-ws-n, p.-ws-n, a.-ws-n, span.-ws-n, label.-ws-n {
  white-space: nowrap;
}
h1.-b, h2.-b, h3.-b, h4.-b, h5.-b, h6.-b, p.-b, a.-b, span.-b, label.-b {
  font-weight: bold;
}
h1.-f-gothic, h2.-f-gothic, h3.-f-gothic, h4.-f-gothic, h5.-f-gothic, h6.-f-gothic, p.-f-gothic, a.-f-gothic, span.-f-gothic, label.-f-gothic {
  font-family: source-han-sans-japanese, sans-serif;
}
h1.-f-cezan, h2.-f-cezan, h3.-f-cezan, h4.-f-cezan, h5.-f-cezan, h6.-f-cezan, p.-f-cezan, a.-f-cezan, span.-f-cezan, label.-f-cezan {
  font-family: "fot-cezanne-pron", sans-serif;
}
h1.-f-mincho, h2.-f-mincho, h3.-f-mincho, h4.-f-mincho, h5.-f-mincho, h6.-f-mincho, p.-f-mincho, a.-f-mincho, span.-f-mincho, label.-f-mincho {
  font-family: shippori-mincho, sans-serif;
}
h1.-f-gara, h2.-f-gara, h3.-f-gara, h4.-f-gara, h5.-f-gara, h6.-f-gara, p.-f-gara, a.-f-gara, span.-f-gara, label.-f-gara {
  font-family: garamond-premier-pro, serif;
  font-style: italic;
}
h1.-f-acumin, h2.-f-acumin, h3.-f-acumin, h4.-f-acumin, h5.-f-acumin, h6.-f-acumin, p.-f-acumin, a.-f-acumin, span.-f-acumin, label.-f-acumin {
  font-family: acumin-pro, sans-serif;
  font-weight: bold;
  font-style: italic;
}
h1.-white, h2.-white, h3.-white, h4.-white, h5.-white, h6.-white, p.-white, a.-white, span.-white, label.-white {
  color: #ffffff;
}
h1.-color01, h2.-color01, h3.-color01, h4.-color01, h5.-color01, h6.-color01, p.-color01, a.-color01, span.-color01, label.-color01 {
  color: #96bbc7;
}
h1.-color02, h2.-color02, h3.-color02, h4.-color02, h5.-color02, h6.-color02, p.-color02, a.-color02, span.-color02, label.-color02 {
  color: #5a8190;
}
h1.-house_c01, h2.-house_c01, h3.-house_c01, h4.-house_c01, h5.-house_c01, h6.-house_c01, p.-house_c01, a.-house_c01, span.-house_c01, label.-house_c01 {
  color: #b6b343;
}
h1.-house_c02, h2.-house_c02, h3.-house_c02, h4.-house_c02, h5.-house_c02, h6.-house_c02, p.-house_c02, a.-house_c02, span.-house_c02, label.-house_c02 {
  color: #6d5847;
}
h1.-house_c03, h2.-house_c03, h3.-house_c03, h4.-house_c03, h5.-house_c03, h6.-house_c03, p.-house_c03, a.-house_c03, span.-house_c03, label.-house_c03 {
  color: #599465;
}
h1.-house_c04, h2.-house_c04, h3.-house_c04, h4.-house_c04, h5.-house_c04, h6.-house_c04, p.-house_c04, a.-house_c04, span.-house_c04, label.-house_c04 {
  color: #00c5d5;
}

html {
  font-size: 62.5%;
}

h1.-number, h2.-number, h3.-number, h4.-number, h5.-number, h6.-number, p.-number, a.-number, span.-number, label.-number {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 150%;
  vertical-align: baseline;
  margin-right: 0.3em;
  color: #98B13B;
}
h1.s-SS, h2.s-SS, h3.s-SS, h4.s-SS, h5.s-SS, h6.s-SS, p.s-SS, a.s-SS, span.s-SS, label.s-SS {
  font-size: 1rem;
}
@media (width >= 768px) {
  h1.s-SS, h2.s-SS, h3.s-SS, h4.s-SS, h5.s-SS, h6.s-SS, p.s-SS, a.s-SS, span.s-SS, label.s-SS {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
}
h1.s-S, h2.s-S, h3.s-S, h4.s-S, h5.s-S, h6.s-S, p.s-S, a.s-S, span.s-S, label.s-S {
  font-size: 1.1rem;
}
@media (width >= 768px) {
  h1.s-S, h2.s-S, h3.s-S, h4.s-S, h5.s-S, h6.s-S, p.s-S, a.s-S, span.s-S, label.s-S {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
  }
}
h1.s-M, h2.s-M, h3.s-M, h4.s-M, h5.s-M, h6.s-M, p.s-M, a.s-M, span.s-M, label.s-M {
  font-size: 1.2rem;
}
@media (width >= 768px) {
  h1.s-M, h2.s-M, h3.s-M, h4.s-M, h5.s-M, h6.s-M, p.s-M, a.s-M, span.s-M, label.s-M {
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  }
}
h1.s-ML, h2.s-ML, h3.s-ML, h4.s-ML, h5.s-ML, h6.s-ML, p.s-ML, a.s-ML, span.s-ML, label.s-ML {
  font-size: 1.6rem;
}
@media (width >= 768px) {
  h1.s-ML, h2.s-ML, h3.s-ML, h4.s-ML, h5.s-ML, h6.s-ML, p.s-ML, a.s-ML, span.s-ML, label.s-ML {
    font-size: clamp(1.6rem, 2vw, 2rem);
  }
}
@media (768px >= width) {
  h1.s-ML.-s14, h2.s-ML.-s14, h3.s-ML.-s14, h4.s-ML.-s14, h5.s-ML.-s14, h6.s-ML.-s14, p.s-ML.-s14, a.s-ML.-s14, span.s-ML.-s14, label.s-ML.-s14 {
    font-size: 1.4rem;
  }
}
h1.s-L, h2.s-L, h3.s-L, h4.s-L, h5.s-L, h6.s-L, p.s-L, a.s-L, span.s-L, label.s-L {
  font-size: 1.6rem;
}
@media (width >= 768px) {
  h1.s-L, h2.s-L, h3.s-L, h4.s-L, h5.s-L, h6.s-L, p.s-L, a.s-L, span.s-L, label.s-L {
    font-size: clamp(1.6rem, 2vw, 2.2rem);
  }
}
@media (768px >= width) {
  h1.s-L.-s14, h2.s-L.-s14, h3.s-L.-s14, h4.s-L.-s14, h5.s-L.-s14, h6.s-L.-s14, p.s-L.-s14, a.s-L.-s14, span.s-L.-s14, label.s-L.-s14 {
    font-size: 1.4rem;
  }
}
h1.s-LL, h2.s-LL, h3.s-LL, h4.s-LL, h5.s-LL, h6.s-LL, p.s-LL, a.s-LL, span.s-LL, label.s-LL {
  font-size: 2.1rem;
}
@media (width >= 768px) {
  h1.s-LL, h2.s-LL, h3.s-LL, h4.s-LL, h5.s-LL, h6.s-LL, p.s-LL, a.s-LL, span.s-LL, label.s-LL {
    font-size: clamp(1.8rem, 3vw, 3rem);
  }
}
h1.s-3L, h2.s-3L, h3.s-3L, h4.s-3L, h5.s-3L, h6.s-3L, p.s-3L, a.s-3L, span.s-3L, label.s-3L {
  font-size: 2.8rem;
}
@media (width >= 768px) {
  h1.s-3L, h2.s-3L, h3.s-3L, h4.s-3L, h5.s-3L, h6.s-3L, p.s-3L, a.s-3L, span.s-3L, label.s-3L {
    font-size: clamp(2.1rem, 3vw, 4.8rem);
  }
}
h1.s-kome, h2.s-kome, h3.s-kome, h4.s-kome, h5.s-kome, h6.s-kome, p.s-kome, a.s-kome, span.s-kome, label.s-kome {
  font-size: 1rem;
  color: #dacebc;
  transform: scale(0.8);
}
@media (width >= 768px) {
  h1.s-kome, h2.s-kome, h3.s-kome, h4.s-kome, h5.s-kome, h6.s-kome, p.s-kome, a.s-kome, span.s-kome, label.s-kome {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
}
h1.s-number, h2.s-number, h3.s-number, h4.s-number, h5.s-number, h6.s-number, p.s-number, a.s-number, span.s-number, label.s-number {
  font-size: 1.6rem;
}
@media (width >= 768px) {
  h1.s-number, h2.s-number, h3.s-number, h4.s-number, h5.s-number, h6.s-number, p.s-number, a.s-number, span.s-number, label.s-number {
    font-size: clamp(1.6rem, 2.8vw, 5.3rem);
  }
}
h1.s-profile, h2.s-profile, h3.s-profile, h4.s-profile, h5.s-profile, h6.s-profile, p.s-profile, a.s-profile, span.s-profile, label.s-profile {
  font-size: 1.2rem;
}
@media (width >= 768px) {
  h1.s-profile, h2.s-profile, h3.s-profile, h4.s-profile, h5.s-profile, h6.s-profile, p.s-profile, a.s-profile, span.s-profile, label.s-profile {
    font-size: clamp(1.2rem, 2.8vw, 1.4rem);
  }
}
@media (width >= 768px) {
  h1.-s-nav.s-S, h2.-s-nav.s-S, h3.-s-nav.s-S, h4.-s-nav.s-S, h5.-s-nav.s-S, h6.-s-nav.s-S, p.-s-nav.s-S, a.-s-nav.s-S, span.-s-nav.s-S, label.-s-nav.s-S {
    font-size: clamp(1rem, 1.2vw, 1.2rem) !important;
  }
}
@media (width >= 768px) {
  h1.-s-nav.s-M, h2.-s-nav.s-M, h3.-s-nav.s-M, h4.-s-nav.s-M, h5.-s-nav.s-M, h6.-s-nav.s-M, p.-s-nav.s-M, a.-s-nav.s-M, span.-s-nav.s-M, label.-s-nav.s-M {
    font-size: clamp(1.2rem, 1.5vw, 1.4rem) !important;
  }
}
@media (width >= 768px) {
  h1.-s-nav.s-L, h2.-s-nav.s-L, h3.-s-nav.s-L, h4.-s-nav.s-L, h5.-s-nav.s-L, h6.-s-nav.s-L, p.-s-nav.s-L, a.-s-nav.s-L, span.-s-nav.s-L, label.-s-nav.s-L {
    font-size: clamp(1.6rem, 1.8vw, 1.8rem) !important;
  }
}

p.Top, p.concept, p.plan, p.Grallery, p.Location, p.Information, span.Top, span.concept, span.plan, span.Grallery, span.Location, span.Information, a.Top, a.concept, a.plan, a.Grallery, a.Location, a.Information {
  position: relative;
}
p.Top::before, p.concept::before, p.plan::before, p.Grallery::before, p.Location::before, p.Information::before, span.Top::before, span.concept::before, span.plan::before, span.Grallery::before, span.Location::before, span.Information::before, a.Top::before, a.concept::before, a.plan::before, a.Grallery::before, a.Location::before, a.Information::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
}
p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, p.Information::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, span.Information::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after, a.Information::after {
  position: absolute;
  bottom: 11%;
  font-size: 1rem;
  font-family: shippori-mincho, sans-serif;
  font-style: normal;
}
@media (width >= 768px) {
  p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, p.Information::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, span.Information::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after, a.Information::after {
    font-size: 1.4rem;
    bottom: 0%;
  }
}
@media (width >= 1000px) {
  p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, p.Information::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, span.Information::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after, a.Information::after {
    bottom: 11%;
  }
}
p.Top::before, p.concept::before, p.plan::before, p.Grallery::before, p.Location::before, span.Top::before, span.concept::before, span.plan::before, span.Grallery::before, span.Location::before, a.Top::before, a.concept::before, a.plan::before, a.Grallery::before, a.Location::before {
  left: 0;
}
@media (400px >= width) {
  p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after {
    bottom: -60%;
  }
}
@media (768px >= width) {
  p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after {
    left: 0%;
  }
}
@media (width >= 768px) {
  p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after {
    left: 30%;
  }
}
@media (width >= 1000px) {
  p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after {
    left: 30%;
  }
}
@media (width >= 1400px) {
  p.Top::after, p.concept::after, p.plan::after, p.Grallery::after, p.Location::after, span.Top::after, span.concept::after, span.plan::after, span.Grallery::after, span.Location::after, a.Top::after, a.concept::after, a.plan::after, a.Grallery::after, a.Location::after {
    left: 42%;
  }
}
@media (400px >= width) {
  p.Information::after, span.Information::after, a.Information::after {
    bottom: -60%;
  }
}
@media (768px >= width) {
  p.Information::after, span.Information::after, a.Information::after {
    left: 0%;
  }
}
@media (width >= 768px) {
  p.Information::after, span.Information::after, a.Information::after {
    left: 41%;
  }
}
@media (width >= 1000px) {
  p.Information::after, span.Information::after, a.Information::after {
    left: 41%;
  }
}
@media (width >= 1400px) {
  p.Information::after, span.Information::after, a.Information::after {
    left: 50%;
  }
}
@media (width >= 768px) {
  p.Top::before, span.Top::before, a.Top::before {
    background: #3b3b3b;
    width: 50%;
  }
}
@media (width >= 1000px) {
  p.Top::before, span.Top::before, a.Top::before {
    width: 45%;
  }
}
@media (width >= 1400px) {
  p.Top::before, span.Top::before, a.Top::before {
    width: 57%;
  }
}
@media (width >= 1600px) {
  p.Top::before, span.Top::before, a.Top::before {
    width: 58%;
  }
}
p.Top::after, span.Top::after, a.Top::after {
  content: "トップ";
}
@media (width >= 768px) {
  p.concept::before, span.concept::before, a.concept::before {
    background: #b6b343;
    width: 60%;
  }
}
@media (width >= 1000px) {
  p.concept::before, span.concept::before, a.concept::before {
    width: 54%;
  }
}
@media (width >= 1400px) {
  p.concept::before, span.concept::before, a.concept::before {
    width: 66%;
  }
}
@media (width >= 1600px) {
  p.concept::before, span.concept::before, a.concept::before {
    width: 67%;
  }
}
p.concept::after, span.concept::after, a.concept::after {
  content: "コンセプト";
}
@media (width >= 768px) {
  p.plan::before, span.plan::before, a.plan::before {
    left: 0;
    background: #6d5847;
    width: 50%;
  }
}
@media (width >= 1000px) {
  p.plan::before, span.plan::before, a.plan::before {
    width: 45%;
  }
}
@media (width >= 1400px) {
  p.plan::before, span.plan::before, a.plan::before {
    width: 57%;
  }
}
@media (width >= 1600px) {
  p.plan::before, span.plan::before, a.plan::before {
    width: 58%;
  }
}
p.plan::after, span.plan::after, a.plan::after {
  content: "プラン";
}
@media (width >= 768px) {
  p.Grallery::before, span.Grallery::before, a.Grallery::before {
    left: 0;
    background: #599465;
    width: 61%;
  }
}
@media (width >= 1000px) {
  p.Grallery::before, span.Grallery::before, a.Grallery::before {
    width: 54%;
  }
}
@media (width >= 1400px) {
  p.Grallery::before, span.Grallery::before, a.Grallery::before {
    width: 66%;
  }
}
@media (width >= 1600px) {
  p.Grallery::before, span.Grallery::before, a.Grallery::before {
    width: 67%;
  }
}
p.Grallery::after, span.Grallery::after, a.Grallery::after {
  content: "ギャラリー";
}
@media (width >= 768px) {
  p.Location::before, span.Location::before, a.Location::before {
    left: 0;
    background: #00c5d5;
    width: 66%;
  }
}
@media (width >= 1000px) {
  p.Location::before, span.Location::before, a.Location::before {
    width: 58%;
  }
}
@media (width >= 1400px) {
  p.Location::before, span.Location::before, a.Location::before {
    width: 72%;
  }
}
@media (width >= 1600px) {
  p.Location::before, span.Location::before, a.Location::before {
    width: 73%;
  }
}
p.Location::after, span.Location::after, a.Location::after {
  content: "ロケーション";
}
@media (width >= 768px) {
  p.Information::before, span.Information::before, a.Information::before {
    left: 0;
    background: #3b3b3b;
    width: 96%;
  }
}
@media (width >= 1000px) {
  p.Information::before, span.Information::before, a.Information::before {
    width: 83%;
  }
}
@media (width >= 1400px) {
  p.Information::before, span.Information::before, a.Information::before {
    width: 94%;
  }
}
@media (width >= 1600px) {
  p.Information::before, span.Information::before, a.Information::before {
    width: 95%;
  }
}
p.Information::after, span.Information::after, a.Information::after {
  content: "インフォメーション";
}

span.-block {
  display: block !important;
}

/* ------------------------------------------------------------------------
　　　margin 下幅
		*基本縦方向の幅は、下方側で調整すること。
		*アンカーリンクの表示調整用には「paddig-top」を使用すること。
------------------------------------------------------------------------ */
@media (768px >= width) {
  .mgb-20s {
    margin-bottom: -20% !important;
  }
}

@media (768px >= width) {
  .mgb-10s {
    margin-bottom: -10% !important;
  }
}

@media (768px >= width) {
  .mgb-5s {
    margin-bottom: -5% !important;
  }
}

@media (768px >= width) {
  .mgb0s {
    margin-bottom: 0 !important;
  }
}

@media (768px >= width) {
  .mgb1s {
    margin-bottom: 1% !important;
  }
}

@media (768px >= width) {
  .mgb2s {
    margin-bottom: 2% !important;
  }
}

@media (768px >= width) {
  .mgb3s {
    margin-bottom: 3% !important;
  }
}

@media (768px >= width) {
  .mgb4s {
    margin-bottom: 4% !important;
  }
}

@media (768px >= width) {
  .mgb5s {
    margin-bottom: 5% !important;
  }
}

@media (768px >= width) {
  .mgb6s {
    margin-bottom: 6% !important;
  }
}

@media (768px >= width) {
  .mgb7s {
    margin-bottom: 7% !important;
  }
}

@media (768px >= width) {
  .mgb8s {
    margin-bottom: 8% !important;
  }
}

@media (768px >= width) {
  .mgb9s {
    margin-bottom: 9% !important;
  }
}

@media (768px >= width) {
  .mgb10s {
    margin-bottom: 10% !important;
  }
}

@media (768px >= width) {
  .mgb12s {
    margin-bottom: 12% !important;
  }
}

@media (768px >= width) {
  .mgb15s {
    margin-bottom: 15% !important;
  }
}

@media (768px >= width) {
  .mgb18s {
    margin-bottom: 18% !important;
  }
}

@media (768px >= width) {
  .mgb20s {
    margin-bottom: 20% !important;
  }
}

@media (768px >= width) {
  .mgb25s {
    margin-bottom: 25% !important;
  }
}

@media (768px >= width) {
  .mgb30s {
    margin-bottom: 30% !important;
  }
}

@media (width >= 768px) {
  .mgb-20 {
    margin-bottom: -20% !important;
  }
}

@media (width >= 768px) {
  .mgb-10 {
    margin-bottom: -10% !important;
  }
}

@media (width >= 768px) {
  .mgb-5 {
    margin-bottom: -5% !important;
  }
}

@media (width >= 768px) {
  .mgb0 {
    margin-bottom: 0 !important;
  }
}

@media (width >= 768px) {
  .mgb1 {
    margin-bottom: 1% !important;
  }
}

@media (width >= 768px) {
  .mgb2 {
    margin-bottom: 2% !important;
  }
}

@media (width >= 768px) {
  .mgb3 {
    margin-bottom: 3% !important;
  }
}

@media (width >= 768px) {
  .mgb4 {
    margin-bottom: 4% !important;
  }
}

@media (width >= 768px) {
  .mgb5 {
    margin-bottom: 5% !important;
  }
}

@media (width >= 768px) {
  .mgb6 {
    margin-bottom: 6% !important;
  }
}

@media (width >= 768px) {
  .mgb7 {
    margin-bottom: 7% !important;
  }
}

@media (width >= 768px) {
  .mgb8 {
    margin-bottom: 8% !important;
  }
}

@media (width >= 768px) {
  .mgb9 {
    margin-bottom: 9% !important;
  }
}

@media (width >= 768px) {
  .mgb10 {
    margin-bottom: 10% !important;
  }
}

@media (width >= 768px) {
  .mgb12 {
    margin-bottom: 12% !important;
  }
}

@media (width >= 768px) {
  .mgb15 {
    margin-bottom: 15% !important;
  }
}

@media (width >= 768px) {
  .mgb18 {
    margin-bottom: 18% !important;
  }
}

@media (width >= 768px) {
  .mgb20 {
    margin-bottom: 20% !important;
  }
}

@media (width >= 768px) {
  .mgb25 {
    margin-bottom: 25% !important;
  }
}

@media (width >= 768px) {
  .mgb30 {
    margin-bottom: 30% !important;
  }
}

/* ------------------------
　　　margin 左幅
------------------------ */
@media (768px >= width) {
  .mgl1s {
    margin-left: 1% !important;
  }
}

@media (768px >= width) {
  .mgl2s {
    margin-left: 2% !important;
  }
}

@media (768px >= width) {
  .mgl3s {
    margin-left: 3% !important;
  }
}

@media (768px >= width) {
  .mgl4s {
    margin-left: 4% !important;
  }
}

@media (768px >= width) {
  .mgl5s {
    margin-left: 5% !important;
  }
}

@media (768px >= width) {
  .mgl6s {
    margin-left: 6% !important;
  }
}

@media (768px >= width) {
  .mgl7s {
    margin-left: 7% !important;
  }
}

@media (768px >= width) {
  .mgl8s {
    margin-left: 8% !important;
  }
}

@media (768px >= width) {
  .mgl9s {
    margin-left: 9% !important;
  }
}

@media (768px >= width) {
  .mgl10s {
    margin-left: 10% !important;
  }
}

@media (width >= 768px) {
  .mgl1 {
    margin-left: 1% !important;
  }
}

@media (width >= 768px) {
  .mgl2 {
    margin-left: 2% !important;
  }
}

@media (width >= 768px) {
  .mgl3 {
    margin-left: 3% !important;
  }
}

@media (width >= 768px) {
  .mgl4 {
    margin-left: 4% !important;
  }
}

@media (width >= 768px) {
  .mgl5 {
    margin-left: 5% !important;
  }
}

@media (width >= 768px) {
  .mgl6 {
    margin-left: 6% !important;
  }
}

@media (width >= 768px) {
  .mgl7 {
    margin-left: 7% !important;
  }
}

@media (width >= 768px) {
  .mgl8 {
    margin-left: 8% !important;
  }
}

@media (width >= 768px) {
  .mgl9 {
    margin-left: 9% !important;
  }
}

@media (width >= 768px) {
  .mgl10 {
    margin-left: 10% !important;
  }
}

/* ------------------------
　　　margin 右幅
------------------------ */
@media (768px >= width) {
  .mgr1s {
    margin-right: 1% !important;
  }
}

@media (768px >= width) {
  .mgr2s {
    margin-right: 2% !important;
  }
}

@media (768px >= width) {
  .mgr3s {
    margin-right: 3% !important;
  }
}

@media (768px >= width) {
  .mgr4s {
    margin-right: 4% !important;
  }
}

@media (768px >= width) {
  .mgr5s {
    margin-right: 5% !important;
  }
}

@media (768px >= width) {
  .mgr6s {
    margin-right: 6% !important;
  }
}

@media (768px >= width) {
  .mgr7s {
    margin-right: 7% !important;
  }
}

@media (768px >= width) {
  .mgr8s {
    margin-right: 8% !important;
  }
}

@media (768px >= width) {
  .mgr9s {
    margin-right: 9% !important;
  }
}

@media (768px >= width) {
  .mgr10s {
    margin-right: 10% !important;
  }
}

@media (width >= 768px) {
  .mgr1 {
    margin-right: 1% !important;
  }
}

@media (width >= 768px) {
  .mgr2 {
    margin-right: 2% !important;
  }
}

@media (width >= 768px) {
  .mgr3 {
    margin-right: 3% !important;
  }
}

@media (width >= 768px) {
  .mgr4 {
    margin-right: 4% !important;
  }
}

@media (width >= 768px) {
  .mgr5 {
    margin-right: 5% !important;
  }
}

@media (width >= 768px) {
  .mgr6 {
    margin-right: 6% !important;
  }
}

@media (width >= 768px) {
  .mgr7 {
    margin-right: 7% !important;
  }
}

@media (width >= 768px) {
  .mgr8 {
    margin-right: 8% !important;
  }
}

@media (width >= 768px) {
  .mgr9 {
    margin-right: 9% !important;
  }
}

@media (width >= 768px) {
  .mgr10 {
    margin-right: 10% !important;
  }
}

/* ------------------------
　　　margin 上幅
------------------------ */
@media (width >= 768px) {
  .mgt-2 {
    margin-top: -2px !important;
  }
}

/* ------------------------------------------------------------------------
　　　padding 上幅
		*アンカーリンクの表示調整用には「paddig-top」を使用すること。
------------------------------------------------------------------------ */
@media (768px >= width) {
  .pdt0s {
    padding-top: 0 !important;
  }
}

@media (768px >= width) {
  .pdt1s {
    padding-top: 1% !important;
  }
}

@media (768px >= width) {
  .pdt2s {
    padding-top: 2% !important;
  }
}

@media (768px >= width) {
  .pdt3s {
    padding-top: 3% !important;
  }
}

@media (768px >= width) {
  .pdt4s {
    padding-top: 4% !important;
  }
}

@media (768px >= width) {
  .pdt5s {
    padding-top: 5% !important;
  }
}

@media (768px >= width) {
  .pdt6s {
    padding-top: 6% !important;
  }
}

@media (768px >= width) {
  .pdt7s {
    padding-top: 7% !important;
  }
}

@media (768px >= width) {
  .pdt8s {
    padding-top: 8% !important;
  }
}

@media (768px >= width) {
  .pdt9s {
    padding-top: 9% !important;
  }
}

@media (768px >= width) {
  .pdt10s {
    padding-top: 10% !important;
  }
}

@media (width >= 768px) {
  .pdt0 {
    padding-top: 0 !important;
  }
}

@media (width >= 768px) {
  .pdt1 {
    padding-top: 1% !important;
  }
}

@media (width >= 768px) {
  .pdt2 {
    padding-top: 2% !important;
  }
}

@media (width >= 768px) {
  .pdt3 {
    padding-top: 3% !important;
  }
}

@media (width >= 768px) {
  .pdt4 {
    padding-top: 4% !important;
  }
}

@media (width >= 768px) {
  .pdt5 {
    padding-top: 5% !important;
  }
}

@media (width >= 768px) {
  .pdt6 {
    padding-top: 6% !important;
  }
}

@media (width >= 768px) {
  .pdt7 {
    padding-top: 7% !important;
  }
}

@media (width >= 768px) {
  .pdt8 {
    padding-top: 8% !important;
  }
}

@media (width >= 768px) {
  .pdt9 {
    padding-top: 9% !important;
  }
}

@media (width >= 768px) {
  .pdt10 {
    padding-top: 10% !important;
  }
}

/* ------------------------
　　　padding 下幅
------------------------ */
@media (768px >= width) {
  .pdb0s {
    padding-bottom: 0 !important;
  }
}

@media (768px >= width) {
  .pdb1s {
    padding-bottom: 1% !important;
  }
}

@media (768px >= width) {
  .pdb2s {
    padding-bottom: 2% !important;
  }
}

@media (768px >= width) {
  .pdb3s {
    padding-bottom: 3% !important;
  }
}

@media (768px >= width) {
  .pdb4s {
    padding-bottom: 4% !important;
  }
}

@media (768px >= width) {
  .pdb5s {
    padding-bottom: 5% !important;
  }
}

@media (768px >= width) {
  .pdb6s {
    padding-bottom: 6% !important;
  }
}

@media (768px >= width) {
  .pdb7s {
    padding-bottom: 7% !important;
  }
}

@media (768px >= width) {
  .pdb8s {
    padding-bottom: 8% !important;
  }
}

@media (768px >= width) {
  .pdb9s {
    padding-bottom: 9% !important;
  }
}

@media (768px >= width) {
  .pdb10s {
    padding-bottom: 10% !important;
  }
}

@media (width >= 768px) {
  .pdb0 {
    padding-bottom: 0 !important;
  }
}

@media (width >= 768px) {
  .pdb1 {
    padding-bottom: 1% !important;
  }
}

@media (width >= 768px) {
  .pdb2 {
    padding-bottom: 2% !important;
  }
}

@media (width >= 768px) {
  .pdb3 {
    padding-bottom: 3% !important;
  }
}

@media (width >= 768px) {
  .pdb4 {
    padding-bottom: 4% !important;
  }
}

@media (width >= 768px) {
  .pdb5 {
    padding-bottom: 5% !important;
  }
}

@media (width >= 768px) {
  .pdb6 {
    padding-bottom: 6% !important;
  }
}

@media (width >= 768px) {
  .pdb7 {
    padding-bottom: 7% !important;
  }
}

@media (width >= 768px) {
  .pdb8 {
    padding-bottom: 8% !important;
  }
}

@media (width >= 768px) {
  .pdb9 {
    padding-bottom: 9% !important;
  }
}

@media (width >= 768px) {
  .pdb10 {
    padding-bottom: 10% !important;
  }
}

/* ------------------------
　　　padding 左側
------------------------ */
@media (768px >= width) {
  .pdl0s {
    padding-left: 0 !important;
  }
}

@media (768px >= width) {
  .pdl1s {
    padding-left: 1% !important;
  }
}

@media (768px >= width) {
  .pdl2s {
    padding-left: 2% !important;
  }
}

@media (768px >= width) {
  .pdl3s {
    padding-left: 3% !important;
  }
}

@media (768px >= width) {
  .pdl4s {
    padding-left: 4% !important;
  }
}

@media (768px >= width) {
  .pdl5s {
    padding-left: 5% !important;
  }
}

@media (768px >= width) {
  .pdl6s {
    padding-left: 6% !important;
  }
}

@media (768px >= width) {
  .pdl7s {
    padding-left: 7% !important;
  }
}

@media (768px >= width) {
  .pdl8s {
    padding-left: 8% !important;
  }
}

@media (768px >= width) {
  .pdl9s {
    padding-left: 9% !important;
  }
}

@media (768px >= width) {
  .pdl10s {
    padding-left: 10% !important;
  }
}

@media (width >= 768px) {
  .pdl0 {
    padding-left: 0 !important;
  }
}

@media (width >= 768px) {
  .pdl1 {
    padding-left: 1% !important;
  }
}

@media (width >= 768px) {
  .pdl2 {
    padding-left: 2% !important;
  }
}

@media (width >= 768px) {
  .pdl3 {
    padding-left: 3% !important;
  }
}

@media (width >= 768px) {
  .pdl4 {
    padding-left: 4% !important;
  }
}

@media (width >= 768px) {
  .pdl5 {
    padding-left: 5% !important;
  }
}

@media (width >= 768px) {
  .pdl6 {
    padding-left: 6% !important;
  }
}

@media (width >= 768px) {
  .pdl7 {
    padding-left: 7% !important;
  }
}

@media (width >= 768px) {
  .pdl8 {
    padding-left: 8% !important;
  }
}

@media (width >= 768px) {
  .pdl9 {
    padding-left: 9% !important;
  }
}

@media (width >= 768px) {
  .pdl10 {
    padding-left: 10% !important;
  }
}

/* ------------------------
　　　padding 左側
------------------------ */
@media (768px >= width) {
  .pdr0s {
    padding-right: 0 !important;
  }
}

@media (768px >= width) {
  .pdr1s {
    padding-right: 1% !important;
  }
}

@media (768px >= width) {
  .pdr2s {
    padding-right: 2% !important;
  }
}

@media (768px >= width) {
  .pdr3s {
    padding-right: 3% !important;
  }
}

@media (768px >= width) {
  .pdr4s {
    padding-right: 4% !important;
  }
}

@media (768px >= width) {
  .pdr5s {
    padding-right: 5% !important;
  }
}

@media (width >= 768px) {
  .pdr0 {
    padding-right: 0 !important;
  }
}

@media (width >= 768px) {
  .pdr1 {
    padding-right: 1% !important;
  }
}

@media (width >= 768px) {
  .pdr2 {
    padding-right: 2% !important;
  }
}

@media (width >= 768px) {
  .pdr3 {
    padding-right: 3% !important;
  }
}

@media (width >= 768px) {
  .pdr4 {
    padding-right: 4% !important;
  }
}

@media (width >= 768px) {
  .pdr5 {
    padding-right: 5% !important;
  }
}

.pd0 {
  padding: 0 !important;
}

@media (768px >= width) {
  .w100s {
    width: 100% !important;
  }
}

@media (768px >= width) {
  .w90s {
    width: 90% !important;
    margin: auto;
  }
}

.w90 {
  width: 90%;
  margin: 0 auto;
}
.w90.-right {
  margin: auto 0 auto auto;
}

.w85 {
  width: 85%;
  margin: 0 auto;
}

.w80 {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.next_page {
  text-decoration: underline;
}

.outlink {
  border-bottom: 1px solid black;
}

.textArea h2 {
  color: #98B13B;
  font-size: 5.5rem;
  font-family: itc-american-typewriter, serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 50px;
  position: relative;
}
@media (768px >= width) {
  .textArea h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}
.textArea p {
  line-height: 1.6;
  margin-bottom: 20px;
  color: #98B13B;
}
@media (768px >= width) {
  .textArea p {
    text-align: center;
  }
}
.textArea .banner {
  display: block;
  width: 75%;
  margin: auto;
}
@media (width >= 768px) {
  .textArea .banner {
    width: 80%;
    margin-left: 0;
  }
}
.textArea .banner:hover {
  transform: scale(1.03);
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.384));
}

.picArea img {
  margin-bottom: 30px;
  box-shadow: 10px 10px 0px #98B13B;
}

.flexArea {
  display: flex;
  flex-wrap: wrap;
}
@media (width >= 768px) {
  .flexArea {
    flex-wrap: nowrap;
  }
}
.flexArea.-r {
  flex-direction: row-reverse !important;
}
@media (768px >= width) {
  .flexArea.-r_s {
    flex-direction: row-reverse !important;
  }
}
.flexArea.-cr {
  flex-direction: column-reverse !important;
}
@media (768px >= width) {
  .flexArea.-cr_s {
    flex-direction: column-reverse !important;
  }
}
.flexArea.-col02.-top {
  align-items: center;
}
.flexArea.-col02.-top .left {
  width: 100%;
}
@media (width >= 768px) {
  .flexArea.-col02.-top .left {
    width: 28%;
    padding-right: 15px;
  }
}
.flexArea.-col02.-top .right {
  width: 100%;
}
@media (width >= 768px) {
  .flexArea.-col02.-top .right {
    width: 72%;
    padding-left: 15px;
  }
}
.flexArea.-col02.-contentArea .left {
  width: 100%;
}
@media (width >= 768px) {
  .flexArea.-col02.-contentArea .left {
    width: 70%;
    padding-right: 2.5%;
  }
}
.flexArea.-col02.-contentArea .right {
  width: 100%;
}
@media (width >= 768px) {
  .flexArea.-col02.-contentArea .right {
    width: 30%;
    padding-left: 2.5%;
  }
}/*# sourceMappingURL=style.css.map */