@charset "utf-8";
/* CSS Document */
img.img{
opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

img.lazyloaded {
  opacity: 1;
}

/*----------------------------------------------
　　ローディングアニメーション　jsはpagetopに記述
----------------------------------------------*/


@keyframes fadeIn{
  0%{ opacity: 0.2; height: 0;}
  100%{ opacity: 1; height: 60px;}
}

@-webkit-keyframes fadeIn{
  0%{ opacity: 0.2; height: 0;}
  100%{ opacity: 1; height: 60px;}
}




@keyframes prun{
0% {transform: skew(0deg, 0deg);}
5% {transform: skew(5deg, 4.2deg);}
10% {transform: skew(-4deg, -3deg);}
15% {transform: skew(3deg, 2.2deg);}
20% {transform: skew(-2deg, -1.5deg);}
25% {transform: skew(0.9deg, 0.9deg);}
30% {transform: skew(-0.6deg, -0.6deg);}
35% {transform: skew(0.3deg, 0.3deg);}
40% {transform: skew(-0.2deg, -0.2deg);}
45% {transform: skew(0.1deg, 0.1deg);}  
50% {transform: skew(0deg, 0deg);}
}
@-webkit-keyframes prun {
0% {-webkit-transform: skew(0deg, 0deg);}
5% {-webkit-transform: skew(5deg, 4.2deg);}
10% {-webkit-transform: skew(-4deg, -3deg);}
15% {-webkit-transform: skew(3deg, 2.2deg);}
20% {-webkit-transform: skew(-2deg, -1.5deg);}
25% {-webkit-transform: skew(0.9deg, 0.9deg);}
30% {-webkit-transform: skew(-0.6deg, -0.6deg);}
35% {-webkit-transform: skew(0.3deg, 0.3deg);}
40% {-webkit-transform: skew(-0.2deg, -0.2deg);}
45% {-webkit-transform: skew(0.1deg, 0.1deg);}  
50% {-webkit-transform: skew(0deg, 0deg);}
}

/*----------------------------------------------
　　youtube
----------------------------------------------*/

.iframe-wrapper{
position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes shake {
    0%   { transform:translate(0, 0); }
    16%  { transform:translate(0, 36px); }
    32%  { transform:translate(0, -30px); }
    48%  { transform:translate(0, 24px); }
    64%  { transform:translate(0, -18px); }
    80%  { transform:translate(0, 12px); }
    96%  { transform:translate(0, -6px); }
    100% { transform:translate(0, 0); }
}


@media print, screen and (min-width: 767px) {

/*----------------------------------------------
　　コンテンツ
----------------------------------------------*/

.top{
max-width: 1600px;
margin: 0 auto 150px;
}

.top .box{
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.top .box .box_L{
width: 55%;
}

.top .box .box_R{
width: 40%;
}

.top .box .box_R h2{
font-family: emily-austin, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 8.0rem;
color: rgba(0,0,0,0.3);
margin-left: -100px;
}

.top .box .box_R h3{
color: #98B13B;
font-size: 3.0rem;
font-family: "ryo-display-plusn";
line-height: 1.8;
margin-bottom: 20px;
}

.top .box .box_R p{
font-size: 1.4rem;
line-height: 1.8;
font-family: heisei-maru-gothic-std, sans-serif;
font-weight: 400;
font-style: normal;
color: #4D4D4D;
}

.station{
margin-bottom: 150px;
}

.station h2, .park h2{
font-size: 2.3rem;
max-width: 250px;
background: #98B13B;
border-radius: 35px;
margin: 0 auto 50px;
padding: 0.3em;
text-align: center;
color: #fff;
}

.station .txt1{
font-size: 1.6rem;
line-height: 2.0;
margin: 50px 0 150px;
}

.station .txt2{
font-size: 1.4rem;
line-height: 1.8;
margin: 50px 0 0;
}

.grad-wrap{
position: relative;
}

.grad-btn {
display: none;
}

.grad-trigger {
display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked + .grad-btn {
display: none; /*チェックされていたら、grad-btnを非表示にする*/
}
.grad-trigger:checked ~ .grad-item {
height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}

.park{
margin-bottom: 150px;
}

.park .map{
position: relative;
}

.park .map .btn{
position: absolute;
bottom: 0;
right: 0;
width: 22%;
animation: prun 4s linear infinite;
}

.indoor{
margin-bottom: 150px;
}

.indoor h2{
font-size: 2.3rem;
text-align: center;
color: #98B13B;
margin-bottom: 1em;
}

.indoor h3{
font-size: 1.6rem;
text-align: center;
margin-bottom: 50px;
}

.indoor ul{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.indoor ul li{
width: calc(33.3% - 50px);
margin-bottom: 100px;
}

.indoor ul li h4{
font-size: 1.8rem;
margin: 0.5em 0;
}

.indoor ul li p{
font-size: 1.6rem;
}

.interview{
margin-bottom: 150px;
}

.interview h2{
font-family: amatic-sc,sans-serif;
font-weight: 700;
font-style: normal;
color: #98B13B;
font-size: 6.0rem;
margin-bottom: 30px;
}

.interview p{
font-size: 2.4rem;
margin-bottom: 20px;
}

.interview p span{
font-size: 100%;
color: #98B13B;
}

.interview ul{
display: flex;
justify-content: space-between;
margin: 0px 100px 150px;
}

.interview ul li{
width: calc(50% - 100px);
}

}


@media screen and (max-width: 768px) { 

.top{
margin-bottom: 80px;
}

.top .box{
padding: 0px 8px;
}

.top .box .box_L{
width: 85%;
margin: 0 auto;
}

.top .box .box_R h2{
font-family: emily-austin, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 5.0rem;
color: rgba(0,0,0,0.3);
margin-top: -20px;
}

.top .box .box_R h3{
color: #98B13B;
font-size: 2.0rem;
font-family: "ryo-display-plusn";
line-height: 1.6;
margin-bottom: 20px;
}

.top .box .box_R p{
font-size: 1.4rem;
line-height: 1.8;
font-family: heisei-maru-gothic-std, sans-serif;
font-weight: 400;
font-style: normal;
color: #4D4D4D;
}

.station{
margin-bottom: 80px;
}

.station h2, .park h2{
font-size: 1.8rem;
max-width: 200px;
background: #98B13B;
border-radius: 35px;
margin: 0 auto 20px;
padding: 0.3em;
text-align: center;
color: #fff;
}

.station .txt1{
font-size: 1.4rem;
line-height: 1.6;
margin: 20px 0 50px;
}

.station .txt2{
font-size: 1.2rem;
margin: 20px 0 0;
}

.grad-wrap{
position: relative;
}

.grad-btn {
z-index: 2;
position: absolute;
right: 0;
bottom: 0;
left: 0;
width: 148px;
margin: auto;
padding: .5em 0;
border-radius: 2px;
background: #000;
color: #fff;
font-size: 1.3rem;
text-align: center;
cursor: pointer;
transition: .2s ease;
box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.grad-item {
position: relative;
overflow: hidden;
height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
display: block;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 40px; /*グラデーションで隠す高さ*/
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
content: "";
z-index: 1;
}
.grad-trigger {
display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked + .grad-btn {
display: none; /*チェックされていたら、grad-btnを非表示にする*/
}
.grad-trigger:checked ~ .grad-item {
height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}

.park{
margin-bottom: 50px;
}

.park .txt1{
font-size: 1.4rem;
line-height: 1.6;
padding: 0px 8px;
margin: 20px 0;
}

.park .map{
position: relative;
}

.park .map .btn{
margin: 20px auto;
width: 45%;
animation: prun 4s linear infinite;
}

.indoor{
margin-bottom: 50px;
}

.indoor h2{
font-size: 1.8rem;
text-align: center;
color: #98B13B;
margin-bottom: 20px;
}

.indoor h3{
font-size: 1.4rem;
margin-bottom: 30px;
padding: 0px 8px;
}

.indoor ul{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.indoor ul li{
width: calc(50% - 10px);
margin-bottom: 30px;
}

.indoor ul li h4{
font-size: 1.4rem;
font-weight: bold;
margin: 0.5em 0;
}

.indoor ul li p{
font-size: 1.2rem;
}

.interview{
margin-bottom: 80px;
}

.interview h2{
font-family: amatic-sc,sans-serif;
font-weight: 700;
font-style: normal;
color: #98B13B;
font-size: 3.6rem;
margin-bottom: 20px;
}

.interview p{
font-size: 1.5rem;
margin-bottom: 20px;
}

.interview p span{
font-size: 100%;
color: #98B13B;
}

.interview ul{
display: flex;
justify-content: space-between;
margin: 0px 10px 50px;
}

.interview ul li{
width: calc(50% - 5px);
}

}










